html,body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  height: 100%;
}

body {
  color: #bbb;
  background: #444;
  font-family: monospace;
  font-size: 10pt;
}

p {
  font-size: 10pt;
}

table {
  font-size: 10pt;
}

:link, :visited, :active { color: #ddd; }
